{% extends "layout.html" %}

{% block title %}
    Your Listings
{% endblock %}

{% block main %}
    <main class="container py-5 text-center">
        <h1>Your Listings</h1>

        <!-- Check if there are seller_items to display-->
        {% if seller_items %}
            <div class="row">
                {% for product in seller_items %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="/{{ product.image }}" class="card-img-top" alt="{{ product.title }}" style="height: 400px; object-fit: contain;">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.title }}</h5>
                                <p class="card-text">{{ product.description }}</p>
                                <p class="card-text">Price: ${{ product.price }}</p>
                                <p class="card-text">Category: {{ product.category }}</p>
                                <p class="card-text">Status: {{ product.status }}</p>
                                <!-- Add a remove button so sellers can remove their postings that haven't been sold yet-->
                                <form action="{{ url_for('remove_listing', product_id=product.id) }}" method="post">
                                    <button type="submit" class="mauve-button">Remove Listing</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No listings.</p>
        {% endif %}
    </main>
{% endblock %}
