{% extends "layout.html" %}

{% block title %}
    Seller's Items
{% endblock %}

{% block main %}
    <h1>Seller's Items</h1>

    <div class="row">
        {% for item in seller_items %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/{{ item.image }}" class="card-img-top" alt="{{ item.title }} Image" style="height: 400px; object-fit: contain;">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">{{ item.description }}</p>
                        <p class="card-text">Price: ${{ item.price }}</p>
                        <p class="card-text">Category: {{ item.category }}</p>
                        <p class="card-text">Status: {{ item.status }}</p>
                        <p class="card-text">Email: {{ seller_email }}</p>
                        <form action="/add_to_cart/{{ item.id }}" method="post">
                            <input type="hidden" name="product_id" value="{{ item.id }}">
                            <button class="mauve-button" type="submit">Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
